name: actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-lint-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        token: ${{ secrets.ACTION_TOKEN }}
        
    - name: Update toolchain
      run: |
        rustup update
        rustup component add clippy
        
    - name: Setup cache
      uses: actions/cache@v3
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo-
    
    - name: Install graphviz-dev
      run: sudo apt-get install -y graphviz-dev
      
    - name: Build
      run: cargo build --verbose
        
    - name: Lint
      run: |
        cargo fmt -- --check
        cargo clippy --all-targets -- -D warnings
      
  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        token: ${{ secrets.ACTION_TOKEN }}
    
    - name: Install graphviz
      run: brew install graphviz
      
    - name: Build
      run: cargo build --verbose
